<ion-view title="Game Lobby" id="page2">
  <ion-content padding="true" class="has-header">
    <ion-list id="gameLobby-list4">
      <ion-item class="item-avatar item-icon-right" id="gameLobby-list-item14">
        <img src="img/vkfQTL4yTeeP85WYYCaW_1497959102_robot.png">
        <h2>UUID001</h2>
        <p>UUID002</p>
        <i class="icon ion-android-arrow-dropright icon-accessory"></i>
      </ion-item>
      <ion-item class="item-avatar item-icon-right" id="gameLobby-list-item17">
        <img src="img/vkfQTL4yTeeP85WYYCaW_1497959102_robot.png">
        <h2>UUID003</h2>
        <p>UUID004</p>
        <i class="icon ion-android-arrow-dropright icon-accessory"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>