<div class="modal" style="width: 608px;height: 650px;">
  <header class="bar bar-header bar-positive">
    <h1 class="title">{{$root.gamerInfo.id}}</h1>
    <button class="button ion-android-alarm-clock" ng-click="" disabled>时间
    </button>
    <button class="button ion-android-star-half" ng-click="$root.score_tenuki($event)">评分
    </button>
    <!--
    <button class="button ion-android-star" ng-click="">终盘
    </button>
    -->

    <!--
    <div class="button button-clear" ng-click="$root.modal_board_tenuki.hide()">
      <span class="icon ion-android-close">结束</span>
    </div>
    -->
    <button class="button ion-android-close" ng-click="$root.close_tenuki()">结束
    </button>

  </header>

  <ion-content class="has-header" has-header="true" padding="true">
    <div class="tenuki-board" id="tenuki-board" data-include-coordinates="true"></div>
  </ion-content>
</div>

