<ion-view title="大厅" id="page2">
  <ion-nav-buttons side="right">
    <!--
    <button class="button ion-android-send" ng-show="false" ng-click="rPlayAll()">随机多局比赛
    </button>
    -->
    <button class="button ion-ios-game-controller-b" ng-click="addGamer()">创建
    </button>
    <button class="button ion-android-people" ng-click="pairAll()">配对
    </button>
  </ion-nav-buttons>
  <ion-nav-buttons side="left">
    <button class="button ion-android-refresh" ng-click="$root.getAllGames()">刷新
    </button>
  </ion-nav-buttons>

 <ion-content padding="true" class="has-header">
  <ion-list id="gameLobby-list">
        <!--<div class="item col-header item-icon-right">
          <div class="flex-container wrap">
          -->
            <ion-item class="item-avatar item-icon-left" id="gameLobby-list-item" ng-repeat="lobby in lobbyList" >
              <!--<i class="icon-right ion-android-laptop"></i>-->
              <!--
              <h3>ID：{{lobby.player1.id}} _VS_ {{lobby.player2.id}}</h3>
              -->
              <p>名称：{{lobby.name}}</p>
              <p>详情：{{lobby.player1.name}} _VS_ {{lobby.player2.name}}</p>
              <p>类型：{{lobby.type}}</p>
              <p>等级：{{lobby.player1.rank}} _VS_ {{lobby.player2.rank}}</p>
              <p>策略：{{lobby.player1.policy}} _VS_ {{lobby.player2.policy}}</p>
              <p>分数：{{lobby.player1.score}} _VS_ {{lobby.player2.score}}</p>
              <p>时间: {{lobby.created | date:'yyyy-MM-dd HH:mm:ss'}}</p>
              <button class="icon ion-ios-game-controller-a button button-icon"></button>
              <button class="icon-right ion-play" ng-show="lobby.status==1 && lobby.type=='AI_VS_AI'" ng-click="playOne(lobby.id)">比赛</button>
              <!--
              <button class="icon-right ion-pause" ng-disabled="true" ng-show="lobby.status!=1" ng-click="">暂停</button>
              <button class="icon-right ion-stop" ng-disabled="true" ng-show="lobby.status!=1" on-click="">停止</button>
              -->
              <button class="icon-righ ion-android-hand" ng-show="lobby.status==1 && lobby.type=='AI_VS_HUMAN'" ng-click="hPlayOne(lobby,lobby.player2.id,'B')">执黑参赛</button>
              <button class="icon-righ ion-android-hand" ng-show="lobby.status==1 && lobby.type=='HUMAN_VS_AI'" ng-click="hPlayOne(lobby,lobby.player1.id,'B')">执黑参赛</button>
              <button class="icon-righ ion-android-hand" ng-show="lobby.status==1 && lobby.type=='HUMAN_VS_HUMAN'" ng-click="hPlayOne(lobby,lobby.player1.id,'B')">执黑参赛</button>
              <button class="icon-righ ion-android-hand" ng-show="lobby.status==1 && lobby.type=='HUMAN_VS_HUMAN'" ng-click="hPlayOne(lobby,lobby.player2.id,'W')">执白参赛</button>
              <button class="icon-righ ion-eye" ng-show="lobby.status!=1 && lobby.type=='AI_VS_HUMAN' || lobby.type=='HUMAN_VS_AI'" ng-click="toGameTableView(lobby.id,'wgo')">观看</button>
              <button class="icon-right ion-eye" ng-show="lobby.status!=1 && lobby.type=='AI_VS_AI'" ng-click="toGameTableView(lobby.id,'wgo')">观看</button>
                <button class="icon-right ion-eye" ng-show="lobby.status!=1 && lobby.type=='HUMAN_VS_HUMAN'" ng-click="toGameTableView(lobby.id,'wgo')">观看</button>
              <ion-option-button class="button-assertive" ng-click="deleteOne(lobby)">删除</ion-option-button>
            </ion-item>
      </ion-list>
  </ion-content>
</ion-view>
