<div class="modal" ng-controller="gameAierCtrl">
  <header class="bar bar-header bar-positive">
    <h1 class="title">新围棋AI</h1>
    <div class="button button-clear" ng-click="$root.modal_aier_add.hide()">
      <span class="icon ion-android-close"></span>
    </div>
  </header>
  <ion-content class="has-header" has-header="true" padding="true">
    <div class="list">
      <label class="item item-input item-stacked-label">
        <span class="input-label">名称:</span> <input type="text" ng-model="$root.anewAier.name" required>
        <input type="text" placeholder="{{placeholder_aier | date:'yyyy_MM_dd_HH_mm_ss'}}" disabled>
      </label>
      <label class="item item-input item-stacked-label" >
        <span class="input-label">当前棋谱ID:</span><input type="url" placeholder="" ng-model="$root.tableInfo.id" disabled>
      </label>
      <!--
      <label class="item item-input item-stacked-label disabled">
        <span class="input-label disabled">基于历史棋谱:</span><select disabled ng-model='$root.anewAier.model' ng-options='item.name as item.name for item in $root.aierList track by item.id'>
        <option value="">---请选择---</option>
      </select>
      </label>
      -->
      <button  class="button button-stable  button-block icon-left ion-ios-checkmark-empty" ng-disabled="anewAier.name==null" ng-click="createAier()">确定</button>
    </div>
  </ion-content>
</div>
