<ion-view title="Game Lobby" id="page2">
  <ion-nav-buttons side="right">
    <button class="button ion-android-bulb" ng-click="playAll()"> 3.PLAY ALL
    </button>
  </ion-nav-buttons>
  <ion-nav-buttons side="left">
    <!--
    <button class="button button-assertive ion-android-refresh" ng-click="dismissAll()"> 0.DISMISS
    </button>
    -->
    <button class="button ion-android-people" ng-click="pairAll()"> 2.PAIR ALL
    </button>

  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
    <ion-list id="gameLobby-list">
      <ion-list>
        <ion-item class="item-avatar item-icon-left" id="gameLobby-list-item" ng-repeat="lobby in lobbyList">
          <i class="icon-right ion-android-laptop"></i>
          <h2>{{lobby.player1.name}} VS {{lobby.player2.name}}</h2>
          <p>{{lobby.player1.rank}}p VS {{lobby.player2.rank}}p</p>
          <p>{{lobby.player1.policy}} VS {{lobby.player2.policy}}</p>
          <p>{{lobby.player1.score}} VS {{lobby.player2.score}}</p>
          <h2>Created: {{lobby.created | date:'yyyy-MM-dd HH:mm:ss'}}</h2>
          <button class="icon ion-ios-game-controller-a button button-icon" ng-click=""></button>
        </ion-item>
      </ion-list>
  </ion-content>
</ion-view>
