<ion-view title="棋桌#{{$root.curGamerId}}" id="page3" ng-controller="gameTableCtrl">
  <ion-nav-buttons side="right">

    <button class="button ion-ios-filing-outline" ng-click="getSgf()">保存棋谱
    </button>
    <button class="button ion-ios-analytics-outline" ng-click="trainAgent()">训练AI
    </button>
  </ion-nav-buttons>
  <ion-nav-buttons side="left">
    <button class="button ion-android-arrow-down" ng-click="nextOne()">下一桌
    </button>
    <button class="button ion-android-settings" ng-click="modal_settings.show()">设置
    </button>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
    <div id="gameTableDiv">
    </div>
  </ion-content>
</ion-view>
