<ion-view title="Game Lobby" id="page2">
  <ion-nav-buttons side="right">
    <button class="button ion-android-people" ng-click="pairAll()"> 2.PAIR ALL
    </button>
    <button class="button ion-android-bulb" ng-click="playAll()"> 3.PLAY ALL
    </button>
  </ion-nav-buttons>
  <ion-nav-buttons side="left">
    <button class="button button-assertive ion-android-refresh" ng-click="dismissAll()"> 0.DISMISS
    </button>
    <button class="button ion-android-settings" ng-click="modal_settings.show()"> 1.SETTINGS
    </button>

  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
    <ion-list id="gameLobby-list">
      <ion-list>
        <ion-item class="item-avatar item-icon-left" id="gameLobby-list-item" ng-repeat="lobby in lobbyList">
          <i class="icon ion-android-laptop"></i>
          <h2>{{lobby.player1.fullName}} VS {{lobby.player2.fullName}}</h2>
          <p>{{lobby.player1.id}} VS {{lobby.player2.id}}</p>
        </ion-item>
      </ion-list>
  </ion-content>
</ion-view>
