<ion-view title="棋桌" id="page3" ng-controller="gameTableCtrl">
  <ion-nav-title>
    {{$root.tableInfo.id}}
  </ion-nav-title>
  <ion-nav-buttons side="right">

    <button class="button ion-ios-analytics-outline" ng-disabled="$root.tableInfo.id==null" ng-click="addAier()">新建AI
    </button>
    <button class="button ion-ios-analytics" ng-click="$root.modal_aier_train.show()">训练AI
    </button>
  </ion-nav-buttons>
  <ion-nav-buttons side="left">
    <button class="button ion-android-refresh" ng-click="$root.getOneTable()">刷新
    </button>
    <button class="button ion-ios-filing-outline"  ng-click="getSgf()">保存棋谱
    </button>
    <button class="button ion-ios-filing-outline"  ng-click="publishSgf()">发布棋谱
    </button>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
    <div id="gameTableDiv">
    </div>
  </ion-content>
</ion-view>
