<div class="modal">
  <header class="bar bar-header bar-positive">
    <h1 class="title">新玩家</h1>
    <div class="button button-clear" ng-click="modal_user_add.hide()">
      <span class="icon ion-android-close"></span>
    </div>
  </header>
  <ion-content class="has-header" has-header="true" padding="true">
  <div class="list">
    <label class="item item-input item-stacked-label">
      <span class="input-label">类型:</span><select ng-model='anewUser.type' ng-options='k as k for (k,v) in $root.userTypes'>
      <option value="">---请选择---</option> <!-- not selected / blank option -->
    </select>
    </label>
    <label class="item item-input item-label">
    <span class="input-label">名称:</span> <input type="text" placeholder="" ng-model="anewUser.name">
    </label>
    <label class="item item-input item-stacked-label">
      <span class="input-label">AI:</span><select ng-model='anewUser.rank' ng-options='item.name as item.name for item in $root.aierList track by item.id'>
      <option value="">---请选择---</option> <!-- not selected / blank option -->
    </select>
    </label>
    <label class="item item-input item-stacked-label">
      <span class="input-label">策略:</span><select ng-model='anewUser.policy' ng-options='k as k for (k,v) in $root.policysObj'>
      <option value="">---请选择---</option> <!-- not selected / blank option -->
    </select>
    </label>
    <button  class="button button-stable  button-block icon-left ion-ios-checkmark-empty" ng-disabled="anewUser.name==null"  ng-click="createUser()">确定</button>
  </div>
</ion-content>
</div>
